# Tested and approved with these versions
pyramid==2.0.0
crabpy==git+ssh://git@github.com/OnroerendErfgoed/crabpy.git@c8a7aedd048882986b9e262c19e07743d5cd5e08#egg=crabpy
pycountry==18.12.8 ; python_version < '3.0'
pycountry==22.3.5 ; python_version >= '3.4'
